.ingredient {
   margin-bottom: 15px;
   overflow: hidden;
}
.title {
   font-weight: bold;
   margin-right: 30px;
   margin-left: 30px;
   margin-top: 10px;
   display: inline-block;
}
.less {
   border: none;
   color: #261e57;
   margin-right: 40px;
   padding: 5px;
   background: #42dc47;
   cursor: pointer;
   float: right;
   width: 70px;
   height: 35px;
   border-radius: 5px;
}
.more {
   color: #261e57;
   margin-right: 30px;
   border: none;
   padding: 5px;
   background: #ff7474;
   cursor: pointer;
   float: right;
   width: 70px;
   height: 35px;
   border-radius: 5px;
}